/* Design for mobile-first */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  overflow: auto;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Open Sans", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 30%;
  height: auto;
}
.upper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

/* input[type="text"] {
  background-color: white;
  background-image: url("../img/searchicon.png");
  background-size: 10px 10px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
} */

form {
  grid-row: 1;
  width: auto;
  margin: auto;
}

.searchbar {
  font-size: 30px;
  grid-row: 1;
  width: auto;
  margin-top: 15px;
  background: white url(../img/searchicon.png);
  background-size: 20px;
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-radius: 10px;
  border: none;
}

.date {
  color: white;
  font-size: 20px;
  grid-row: 2;
  margin-left: 10px;
  margin-top: 15px;
}

.city {
  color: white;
  font-size: 34px;
  grid-row: 3;
  margin-left: 10px;
  margin-top: 10px;
}

.lower {
  display: grid;
  grid-template-rows: 1fr 20% 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
}

.temp {
  grid-row: 1;
  grid-column: 1;
  font-size: 36px;
  display: grid;
}

.temp p {
  font-size: 16px;
}

.feelslike {
  margin-left: 20px;
}

.descrip {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}
.descrip h4 {
  font-size: 18px;
}

.tomorrow {
  grid-row: 3;
  grid-column: 1;
  text-align: center;
  font-size: 22px;
}

.tomorrow img {
  padding-top: 10px;
}

.nextday {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
  font-size: 22px;
}

.nextday img {
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
