/* Design for mobile-first */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  overflow: auto;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 30%;
  height: auto;
}
.upper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

form {
  grid-row: 1;
  width: auto;
  margin: auto;
}

.searchbar {
  font-size: 30px;
  grid-row: 1;
  width: auto;
  margin: auto;
}

.date {
  color: white;
  font-size: 20px;
  grid-row: 2;
  margin-left: 10px;
}

.city {
  color: white;
  font-size: 28px;
  grid-row: 3;
  margin-left: 10px;
}

.lower {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
}
/* not sure */
h4 {
  font-size: 20px;
}
/* not sure */
p {
  /* font-size: 18px; */
}

.temp {
  grid-row: 1;
  grid-column: 1;
  font-size: 36px;
  display: grid;
}

.temp p {
  font-size: 16px;
}

.feelslike {
  /* align-content: end; */
}
.descrip {
  grid-row: 1;
  grid-column: 2;
}

.tomorrow {
  grid-row: 3;
  grid-column: 1;
}

.nextday {
  grid-row: 3;
  grid-column: 2;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
